node_modules
.dist
/dist
/apps/web/dist
coverage
.partykit
.env
.DS_Store
*.log
*.tsbuildinfo
/apps/web/public/card-art/*.png
/apps/web/public/card-art/*.jpg
/apps/web/public/card-art/*.jpeg
/apps/web/public/card-art/*.webp
